body{
    font-family: sans-serif;
    margin: 0;
}
header{
    display: flex;
    justify-content: space-between;
    min-height: 100px;
    background-color: rgb(255, 123, 0);
    align-items: center;
    padding: 10px;

}
.logo{
    display: flex;
    align-items: center;
    
}
.logo img{
    height: 80px;
    margin-right: 10px;
}
.logo-pie{
    height: 80px;
    width: 80px;
    margin-right: 10px;
}
.contenido img{
    display: block;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}
a{
    text-decoration: none;
    color: white;
}
.glud{
    color: white;
}
nav a{
    font-weight: 600;
    padding-right: 10px;
}
nav a:hover{
    color:black;
}
@media (max-width:700px){
    header{
        flex-direction: column;
    }
    nav{
        padding: 10px 0px;
    }
}
.sofware {
    
    margin-left: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 50px;
    background-color:  #f6f6f6 ;
    padding: 10px;
    
    
}
h1{
    color: orangered;
    
}
.titulo{
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 20px;
}
h2{
    color: orangered;
    
}
h3{
    text-align: center;
}
.imgBottle{
    height: 300px;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    display: flex;
    align-items: center;
}
.jeader{
    margin-left: 50px;
    margin-top: 100px;
    margin-bottom: 150px;
    margin-right: 50px;
    padding: 50px;
}
body{
    margin-left: 100px;
    margin-bottom: 150px;
    margin-right: 100px;
    background-color:   #f6f6f6 ;
}
.all{
    background-color:white;
}
p{
    padding: 5px;
}
.indice{
    border: black 3px solid;
    margin-left: 33%;
    margin-right: 33%;
    background-color: #f6f6f6;
}
.contenido{
    margin: 10%;

}
p{
    margin-bottom: 20px;
}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
/*:::::Pie de Pagina*/
.pie-pagina{
    width: 100%;
    background-color: rgb(219, 219, 219);
}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:50px;
    padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pie-pagina .grupo-1 .box figure img{
    width: 250px;
}
.pie-pagina .grupo-1 .box h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}
.pie-pagina .grupo-1 .box p{
    color: #efefef;
    margin-bottom: 10px;
}
.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: white;
    margin-right: 20px;
    background-color: f6f6f6;
    text-align: center;
    transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover{
    color: orangered;
}
.pie-pagina .grupo-2{
    background-color: orangered;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}
.pie-pagina .grupo-2 small{
    font-size: 15px;
}
@media screen and (max-width:800px){
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:30px;
        padding: 35px 0px;
    }
}
h4{
    margin-left: 20%;
}